@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');


.Rubik{

    font-family: 'Rubik', sans-serif !important;
    padding-top:5px;
    padding-bottom:5px;
}



.nav-link{
    color:bisque !important;
}

.navbar-brand{
    color:#ffe4c4 !important;
    font-family: 'Rubik', sans-serif !important;
    font-size:1.5em;
}
footer{
    background-color:black;
}

.carousel-item{
    height:40vh;
}

.footerHead{
    height:15vh !important;
    width:100%;
}

.footerHead2{
    height:2vh !important;
    width:100%;
    padding-top:0rem !important;
    padding-bottom:0rem !important;
}


.text-center{
    background-color:#212529;
    color:bisque;
    font-family: 'Rubik', sans-serif !important;
}

.footerText{
  
    text-align:center;
    color:#212529;

}

#content{
    background-color:white;
    text-align:center;
    padding:0px !important;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding:5px;
  }

/* use to see the outline of divs and containers, etc */ /*
  *{
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */

  html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}

.text-center2{
    width:100%;
    text-align:center;
}

.btn-primary{
    background-color:bisque !important;
    border-color:rgb(199, 179, 154) !important;
    color: #212529 !important;
}

.container2{
    display:flex;
    flex-wrap:inherit;
    align-items:center;
    justify-content:space-between;
    
}

body{
    background-color:#212529 !important;
}

main{
    background-color:white;
}